<h1>
    notey
</h1>
<%= form_for Manifestation.new do |f| %>
<form action="/new" method="POST">
    <%= f.text_field :tag %>
    <%= f.submit %>
</form>
<% end %>
<div>
    <p><b>Recently manifested Tags:</b></p>
<% @manlist.each do |man| %>
    <%= content_tag :div, man.tag.name+", at "+man.date.to_s %>
<% end %>
</div>
